p{
    font-style: normal;
    font-size: medium;
    font-weight: 1000;
}

.formdata {
    width: 20rem;
    max-width: 50%;
    margin: 2rem auto;
    border: 1px solid #ccc;
    padding: 1.5rem;
  }
  
  .photoGrid {
    max-width: 2000px;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex: 80%;
    box-sizing: border-box;
  }

  